:host {
  mat-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-color: blue;
  }
  img {
    max-width: 90px;
    max-height: 90px;
  }
}
