:host{
    flex-direction: column;
    height: 100vh;
    > * {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    app-header{
        height: 8%;
    }

    main{
        height: 92%;
        background-color: gray;
    }
}
